rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /rooms/{roomId}/{userId}/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn()
        && request.auth.uid == userId
        && request.resource.size < 2 * 1024 * 1024 * 1024
        && (
          request.resource.contentType.matches('image/.*')
          || request.resource.contentType.matches('video/.*')
          || request.resource.contentType.matches('audio/.*')
          || request.resource.contentType == 'application/pdf'
        );
    }

    match /avatars/{userId}/{fileName} {
      allow read: if true;
      allow write: if signedIn()
        && request.auth.uid == userId
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
